<div id="id_footer">
  <div class="logo">
    <img src="https://beeng.org/images/logo-beeng.png" alt="">
  </div>
  <div class="contact">
    <p> Liên hệ: beeng.net@gmail.com</p>
    <p>Copyright © 2020 beeng.org - All rights reserved</p>
  </div>
</div>
