<div class="left-nav">
  <div class="logo">
    <img src="https://beeng.org/images/logo-beeng.png" alt="">
  </div>
  <div id="id_nav" class="blue">
    <a href="#">Hot</a>
    <a href="#">Mới nhất</a>
    <a href="#">Đề xuất</a>
    <a href="#">Thể loại</a>
  </div>
</div>
<div class="right-nav">
  <div class="search-bar">
    <input type="text" name="keywords" placeholder="Nhập tên truyện..." id="id_search_bar">
    <div class="search-btn">
      <img src="https://cdn.icon-icons.com/icons2/2551/PNG/512/search_icon_152764.png" alt="">
    </div>
  </div>
  <div class="btn">
    <%= link_to "Đăng Nhập", "#" %>
  </div>
</div>
