<div id="id_header">
  <%= render 'header' %>
</div>
<div id="id_slider">
  <h2>This is slider</h2>
</div>
<div id="id_content">
  <div class="hot-products">
    <div class="title blue">Hot</div>
    <div class="btn">
      <%= link_to "Xem thêm", "#" %>
    </div>
  </div>
  <div class="new-products">
     <div class="title blue">Mới Nhất</div>
     <div class="btn">
      <%= link_to "Xem thêm", "#" %>
    </div>
  </div>
</div>
<div id="id_footer">
  <div class="logo">
    <img src="https://beeng.org/images/logo-beeng.png" alt="">
  </div>
  <div class="contact">
    <p> Liên hệ: beeng.net@gmail.com</p>
    <p>Copyright © 2020 beeng.org - All rights reserved</p>
  </div>
</div>
