// Place all the styles related to the Manga controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/* Header */
#id_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 10px 56px 0;
  position: sticky;
  left: 0;
  right: 0;
  top: 0;
  max-height: 80px;
  background-color: white;
}

.left-nav,
.right-nav {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.right-nav {
  justify-content: space-between;
}

#id_nav {
  padding: 20px 0 20px 12px;
  display: flex;
  flex-direction: row;
}

#id_nav a {
  padding-right: 12px;
  text-decoration: none;
  color: #91bbee;
  font-weight: bold;
  position: relative;
}

#id_nav .sub-nav .categories-sub-nav {
  position: absolute;
  background-color: #4c8ddc;
  padding: 16px;
  border-radius: 10px;
  display: none;
}

#id_nav .sub-nav:hover .categories-sub-nav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 300px;
  width: 400px;
  justify-content: center;
}

#id_nav .sub-nav .categories-sub-nav a {
  color: #fff;
  font-weight: normal;
  font-size: 14px;
  margin-top: 2px;
}

#id_nav .sub-nav .categories-sub-nav a:hover {
  text-decoration: underline;
}

#id_nav a:hover .categories-sub-nav {
  display: inital;
}

.search-bar,
.btn {
  flex-grow: 1;
}

.search-bar {
  padding: 20px 0;
}

#id_search_bar {
  line-height: 1.5;
  border: 1px solid #ccc;
  padding-left: 26px;
  border-radius: 12px;
  height: 23px;
  box-sizing: border-box;
}

#id_search_bar:focus {
  outline: none;
}

.search-btn img {
  width: 18px;
  position: absolute;
  top: 32px;
  padding-left: 5px;
}

.btn {
  padding: 20px 0;
}

.btn:hover {
  opacity: 0.8;
}

.btn a {
  background-color: #91bbee;
  width: 20px;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  border-radius: 20px;
}

/* Slider*/
#id_slider {
  min-width: 100%;
  background-color: #91bbee;
  min-height: 450px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0 56px;
}
.thumbnail {
  width: 25%;
}
/* Content */
#id_content {
  min-height: 900px;
}

.hot-products,
.new-products {
  min-height: 450px;
  margin-top: 16px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.products {
  padding: 0 56px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 16px;
}

.product-card {
  width: 20%;
}

.product-card .product-image img {
  width: 180px;
  height: 225px;
  object-fit: cover;
}

.product-information {
  margin: auto;
  padding: 1px 4px;
}

.product-name {
  line-height: 1.5;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-chapters {
}

.product-name a,
.product-chapters a {
  text-align: center;
  text-decoration: none;
  padding-right: 6px;
}
.product-stars {
}

.product-stars img {
  width: 24px;
}
/* Footer */
#id_footer {
  min-height: 200px;
  background-color: #ccc;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

#id_footer div {
  text-align: center;
}

#id_footer div:first-of-type {
  padding-top: 16px;
}

#id_footer .logo img {
  width: 82px;
  margin: auto;
}
#id_footer .contact {
  text-align: center;
  font-size: 12px;
}

/* Show */

.product-details {
  display: flex;
  flex-direction: row;
  margin: 0 50px;
  padding-bottom: 24px;
  border-bottom: 1px solid #91bbee;
}

.product-details .product-img {
  margin-left: 6px;
  height: auto;
  max-height: 270px;
  min-height: 261px;
}

.product-description {
  padding-left: 16px;
}

.more-info {
  display: flex;
  flex-direction: row;
  padding: 12px 6p;
}

.more-info .div {
}

.more-info div:nth-child(2) {
  align-self: center;
}

.list-chapters,
.same-products {
  padding-top: 16px;
}

.list-chapters .title,
.same-products .title {
  font-weight: bold;
  font-size: 24px;
  margin: auto;
  width: fit-content;
  color: #91bbee;
}

.chapters {
  display: flex;
  flex-wrap: wrap;
  margin: 0 56px;
  padding-top: 24px;
}

.chapter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 48%;
  margin-left: 8px;
  margin-right: 16px;
  border-bottom: 1px solid #d7dee7;
  padding-top: 4px;
}

.chap-title {
  line-height: 1.5;
}

.chap-title a {
  text-decoration: none;
  color: black;
}

.chap-title:hover a {
  color: #91bbee;
  text-decoration: underline;
}

.chapter img {
  width: 32px;
}
